# See https://help.github.com/ignore-files/ for more about ignoring files.

Listings
lab1a/Objects/*
lab1a/Objects
lab1a/Listings
lab1b/Objects/*
lab1b/Objects
lab1b/Listings
lab2/Objects/*
lab2/Objects
lab2/Listings


.Andrew

.scvd*
.uvopt*
.Andrew*